<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!--FAVICON-->
    <link rel="icon" 
      type="image/png" 
      href="picture/lion.png">
    
 <!-- BOOTSTRAP CSS LINK-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--BOOTSTRAP JS LINK-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!--FONT LINK-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Langar&family=Lobster&display=swap" rel="stylesheet">

<!--FONT AWASOME CDN LINK-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<!--HOME LINK-->
<link rel="stylesheet" href="css/homePage.css">


</head>
<body>

  <div class="container-div">
      <!--NAV BAR-->
      <nav class="navbar navbar-expand-lg  ">
          <img  class="lion" src="picture/lion.png" alt="error">
  <a class="navbar-brand dadpur" href="#">dadpur</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon ">&#x2630;</span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/school">school <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">schem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">condition</a>
      </li>
     </ul>
  </div>
</nav>
<br>
<pre class="paragraph1">"আমার সোনার বাংলা
    আমি তোমায় ভালবাসি"</pre>
<div>
    <pre class="paragraph2">"চিত্ত যেথা ভয়শূন্য, উচ্চ যেথা শির,
জ্ঞান যেথা মুক্ত, যেথা গৃহের প্রাচীর
আপন প্রাঙ্গণতলে দিবসশর্বরী
বসুধারে রাখে নাই খন্ড ক্ষুদ্র করি,"</pre>
</div>


<footer>

    <h2 class="devloper">about the devloper</h2>

<div class="online-midea">
<a href="https://www.facebook.com/" style="color: white"><i class="fab fa-facebook fab-icons fa-2x"></i></a>
<a href="https://web.whatsapp.com/" style="color: white"><i class="fab fa-whatsapp fab-icons fa-2x"></i></a>
<a href="https://www.instagram.com/" style="color: white"><i class="fab fa-instagram fab-icons fa-2x"></i></a>
</div>

</footer>



  </div>
</body>
</html>